{% extends "base.html" %}

{% block title %}DEQ RWANDA{% endblock %}

{% block content %}
{# Aplicação da classe glassmorphism-card #}
<div class="text-center p-5 mb-5 glassmorphism-card"> 
    <img
                src="{{ url_for('static', filename='img/mota_engil_logo.png') }}"
            >
    <hr class="my-4 border-light">
    {% if 'user_id' not in session %}
        <p class="lead">
            {# Botões mais apelativos com rounded-pill e shadow #}
            <a class="btn btn-outline-light btn-lg m-2 rounded-pill shadow-sm" href="{{ url_for('login') }}" role="button">
                <i class="bi bi-box-arrow-in-right me-2"></i>Login
            </a>
        </p>
    {% else %}
        {# Mensagem de boas-vindas mais personalizada para utilizadores logados #}
        <p class="lead text-success fw-semibold">
            <i class="bi bi-star-fill me-2"></i>Olá, {{ session['username'] }}! Bom vê-lo novamente.
        </p>
        <p class="lead">
            <a class="btn btn-info btn-lg m-2 rounded-pill shadow-sm" href="{{ url_for('user_dashboard') }}" role="button">
                <i class="bi bi-speedometer2 me-2"></i>Ir para o meu Dashboard
            </a>
        </p>
    {% endif %}
</div>


{% endblock %}
